<% @messages.each do |message|%>
  <div class="chatbox__body__message chatbox__body__message--left">
    <img src="https://www.gstatic.com/webp/gallery/2.jpg" alt="Picture">
    <div class="clearfix"></div>
    <div class="ul_section_full">
      <ul class="ul_msg">
        <li><strong><%= message.user.first_name %></strong></li>
        <li><%= message.body %></li>
      </ul>
    </div>
  </div>
<% end %>
