<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, the system has a new course created.</h1>
    <p><%= link_to "Here", course_url(@course) %></p>
  </body>
</html>
