<li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
  <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bell"></i> <span data-behavior="unread-count"></span>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
  </div>
</li>
